<div style="margin-top: 50px">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['/task/create']">Add Task</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Add Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['/taskmanager/user/create']">Add User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">View Taskss</a>
    </li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>

<!-- Naman  -->