<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->
<!-- <navbar></navbar> -->
 <!-- <welcome></welcome>  -->

<!-- <div>
  <nav class='navbar navbar-expand navbar-light bg-light'>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/home']">Home</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/taskmanager']">Product List</a></li>
    </ul>
  </nav>
</div> -->
<navbar></navbar>
<div class='row'>
<div class='col-md-6'>
  <router-outlet></router-outlet>
</div>
<div class='col-md-6'>
  <div>
</div>